<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mensalistas</title>
</head>
<body>
    <h2>Lista Mensalistas</h2>

    <ul>

        {% for mensal in mensalista %}
            <li>
                <a href="{% url 'core_mensalista_update' mensal.id %}">{{ mensal.veiculo }} - {{ mensal.veiculo.placa }}</a>
            </li>

        {% endfor %}

        <form action="{% url 'core_mensalista_novo' %}" method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Cadastrar</button>

        </form>


    </ul>
</body>
</html>



