<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mov Mensalistas</title>
</head>
<body>
    <h2>Lista Movimento Mensalistas</h2>

    <ul>

        {% for mov in movmensal %}
            <li>
                <a href="{% url 'core_movemensalista_update' mov.id %}">{{ mov.mensalista }} - {{ mov.total }}</a>
            </li>

        {% endfor %}

        <form action="{% url 'core_movemensalista_novo' %}" method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Cadastrar</button>

        </form>


    </ul>
</body>
</html>

