<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotativos</title>
</head>
<body>
    <h2>Lista Movimentos Rotativos</h2>

    <ul>

        {% for mov in movrot %}
            <li>
                <a href="{% url 'core_movrotativo_update' mov.id %}">{{ mov.checkin }} - {{ mov.veiculo.placa }}</a>
            </li>

        {% endfor %}


        <form action="{% url 'core_movrotativo_novo' %}" method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Cadastrar</button>

        </form>


    </ul>
</body>
</html>



